body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}
#details-view {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 100vh;
  height: 100vh;
}
body.no-scroll {
  overflow: hidden;
}
